@model Address

@{
    ViewData["Title"] = "Address";
}

@*<div class="form-group mt-2">
    <input required id="countyId" hidden asp-for="CountyId" />
    <input id="search_city" value="@Model.County?.Name" autocomplete="off" type="text" placeholder="Type a county..." aria-label="Search" onkeyup="debounce()" list="locationList" class="w-100" style="padding:6px 12px;" />
    <span asp-validation-for="CountyId" class="text-danger"></span>
    <datalist id="locationList"></datalist>
</div>*@

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script type="text/javascript">
    window.onload = (event) => {
        search(document.getElementById('search_city').value);
    };

    let timer = null
    let debounce = () => {
        clearTimeout(timer);
        timer = setTimeout(() => {
            search(document.getElementById('search_city').value);
        }, 750);
    };

    let search = (value) => {
        if (value == null || value.length < 2) return;
        $.ajax({
            type: 'POST',
            url: '/Location/Search',
            dataType: 'json',
            data: { id: value },
            success: countiesToList,
            error: function (ex) {
                console.log('Failed to retrieve counties.' + ex);
            }
        });
    }

    let countiesToList = (counties) => {
        if (counties != null && counties.length != 0) $("#locationList").empty();
        console.log(counties);
        let list = document.getElementById("locationList")
        for (let county of counties) {
            $("#locationList").append('<option data-value="' + county.id + '">' + county.name + '</option>');
        }
    }

    $("#search_city").on('change', function () {
        let val = $('#search_city').val()
        let selectedVal = $("#locationList option").filter(function () {
            return this.value == val;
        }).attr('data-value')
        if (!isNaN(selectedVal)) {
            $("#countyId").val(selectedVal)
        }
    })
</script>

