
@model Address

@{
    ViewData["Title"] = "Address";
}

<div class="form-group mt-2">
    <input id="search_city" asp-for="County.Name" autocomplete="off" type="text" placeholder="Type a county..." aria-label="Search" onkeyup="debounce()" list="locationList" class="w-100" style="padding:6px 12px;"/>
    <datalist id="locationList" asp-for="CountyId" ></datalist>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script type="text/javascript">
    window.onload = (event) => {
        search(document.getElementById('search_city').value);
    };
    
    let timer = null
    let debounce = () => {
        clearTimeout(timer);
        timer = setTimeout(() => {
            search(document.getElementById('search_city').value);
        }, 750);
    };

    let search = (value) => {
        console.log(value);
        if (value == null || value.length <= 2) $("#locationList").empty();
        if (value == null || value.length < 2) return;
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Search","Location")',
            dataType: 'json',
            data: { id: value },
            success: countiesToList,
            error: function (ex) {
                console.log('Failed to retrieve counties.' + ex);
            }
        });
    }

    let countiesToList = (counties) => {
        $("#locationList").empty();
        console.log(counties);
        let list = document.getElementById("locationList")
        for (let county of counties) {
            $("#locationList").append('<option data-value="' + county.id + '">' + county.name + '</option>');
        }
    }
    


</script>

