@model SCManagement.Models.Club
@inject IStringLocalizer<SharedResource> StringLocalizer
@{
    ViewData["Title"] = "Create";
}

<section class="text-center">
    <!-- Background image -->
    <div class="p-5 bg-image" style="
            background-image: url('/img/baseball_stadium.jpg');
            background-position:center;
            height: 300px;
            "></div>
    <!-- Background image -->
    <div class="container">
        <div class="card mx-4 mx-md-5 shadow-5-strong" style="
            margin-top: -100px;
            background: hsla(0, 0%, 85%, 0.3);
            background-position:center;
            backdrop-filter: blur(30px);
            border-radius:20px;
            ">
            <div class="card-body py-5 px-md-5">
                <!-- Back to Master Page -->
                <div class="position-absolute top-0 start-0 ps-2 pt-2">
                    <a class="nav-link fw-bold text-black fs-4 fw-bold" asp-controller="Home" asp-action="MyClub">@StringLocalizer["Back"]</a>
                </div>
                <div class="row d-flex mt-5 justify-content-center">
                    <div class="col-lg-6 col-12">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <input asp-for="Name" placeholder="Club Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>

                            <div class="form-group mt-2">
                                <label asp-for="ModalitiesIds" class="control-label"></label>
                                <select multiple required asp-for="ModalitiesIds" class="form-control" asp-items="ViewBag.modalities"></select>
                            </div>

                            <div class="form-group mt-2">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
