@model IEnumerable<SCManagement.Models.Club>
@inject IStringLocalizer<SharedResource> StringLocalizer

@{
    ViewData["Title"] = "Index";
}

<!-- Import Mapbox GL JS  -->
<script src="https://api.tiles.mapbox.com/mapbox-gl-js/v2.12.0/mapbox-gl.js"></script>
<link href="https://api.tiles.mapbox.com/mapbox-gl-js/v2.12.0/mapbox-gl.css"
      rel="stylesheet" />
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
<link rel="stylesheet"
      href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css"
      type="text/css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
      integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
      crossorigin="" />

<div class="container-fluid p-5" style="height:50%; align-self:center">
    <h2>@StringLocalizer["Clubs List"]</h2>
    <div class="row">
        <div class="card card-to-dark col-xs-12 col-sm-12 col-md-4 me-2" style="min-height:400px;">
            <div class="card-body" style="max-height:550px;">

                <div class="input-group rounded">
                    <input type="search" class="form-control rounded" placeholder="@StringLocalizer["Search"]" aria-label="Search" aria-describedby="search-addon" />
                    <span class="input-group-text border-0" id="search-addon">
                        <i class="fas fa-search"></i>
                    </span>
                </div>
                
                @await Html.PartialAsync("_PartialSearchClub",Model)

            </div>
        </div>
        <div class="card card-to-dark col-xs-12 col-sm-12 col-md-7 mt-sm-5 mt-5 mt-lg-0 mt-md-0" style="min-height:400px;">
            <div class="card-body">
                <div id='map'></div>
                <div id="menu">
                    <input id="satellite-streets-v12" type="radio" name="rtoggle" value="satellite">
                    <label for="satellite-streets-v12">satellite streets</label>
                    <input id="light-v11" type="radio" name="rtoggle" value="light">
                    <label for="light-v11">light</label>
                    <input id="dark-v11" type="radio" name="rtoggle" value="dark">
                    <label for="dark-v11">dark</label>
                    <input id="streets-v12" type="radio" name="rtoggle" value="streets" checked="checked">
                    <label for="streets-v12">streets</label>
                </div>
                <script src="~/js/Mapbox.js" asp-append-version="true"></script>
            </div>
        </div>
    </div>
</div>


<style>

    #map {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        left: 0;
        border-radius: 20px;
        height: 100%
    }

    .mapboxgl-canvas-container {
        height: 100vh;
    }

    #menu {
        position: absolute;
        background: #efefef;
        padding: 10px;
        font-family: 'Open Sans', sans-serif;
        right:0;
    }
</style>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(function () {
        $('input[type="search"]').on('input', function () {
            var term = $(this).val();

            if (term.length >= 1) {
                search(term);
            }
            else{
                search(null);
            }
        });

        function search(term) {
            $.ajax({
                type: 'GET',
                url: '/Clubs/SearchNameClubs',
                data: { name: term },
            }).done(function (data) {
                $('#search-results-partial').html(data);
            }).fail(function (jqXHR, textStatus, errorThrown) {
                console.log("Erro: " + textStatus + ", " + errorThrown);
                console.log("Resposta do servidor: " + jqXHR.responseText);
            });
        }
    });
</script>
