@model IEnumerable<SCManagement.Models.Club>

@{
    ViewData["Title"] = "Index";
}
<div class="container-fluid p-5">
    <div class="row">
        <div class="card card-to-dark col me-3" style="max-height:550px;">
            <div class="card-body" style="max-height:550px;">
                <div class="input-group rounded">
                    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                    <span class="input-group-text border-0" id="search-addon">
                        <i class="fas fa-search"></i>
                    </span>
                </div>
                
                <div class="overflow-auto mt-4" style="max-height:400px;">
                    @foreach (var item in Model)
                    {
                        <div class="card card-to-dark shadow-sm mt-2">
                            <div class="card-body d-flex justify-content-between">
                                <div class="col-4">
                                    <h3 style="font-size: 2vw;">
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </h3>
                                    <p style="white-space: nowrap;
                                        overflow: hidden;
                                        text-overflow: ellipsis;">
                                        @Html.DisplayFor(modelItem => item.About)
                                    </p>
                                    <p>
                                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                                    </p>
                                </div>
                                <div class="col-4 d-flex justify-content-center align-items-center">
                                    <img src="@Html.DisplayFor(modelItem => item.Photography.Uri)" crossorigin="anonymous" class="rounded-circle" style=" height: 100%; object-fit:cover; aspect-ratio:1;" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="card col card-to-dark" style="max-height:550px; ">
            <div class="card-body" >
            </div>
        </div>
    </div>
</div>
