@model SCManagement.Models.CodeClub
@inject IStringLocalizer<SharedResource> StringLocalizer
@{
    ViewData["Title"] = "Join";
}

<section class="text-center">
    <!-- Background image -->
    <div class="p-5 bg-image" style="
            background-image: url('/img/baseball_stadium.jpg');
            background-position:center;
            height: 300px;
            "></div>
    <div class="container">
        <div class="card mx-4 mx-md-5 shadow-5-strong associate-show" style="
            margin-top: -100px;
            background: hsla(0, 0%, 85%, 0.3);
            background-position:center;
            backdrop-filter: blur(30px);
            border-radius:20px;
            ">
            <div class="card-body py-5 px-md-5" style="margin-top:0 !important;">
                <div class="position-absolute top-0 start-0 ps-2 pt-2">
                    <a class="nav-link fw-bold fs-4 fw-bold text-to-dark" style="color:black" asp-controller="Home" asp-action="Index">@StringLocalizer["Back"]</a>
                </div>
                <div class="row d-flex mt-5 justify-content-center">
                    <form asp-action="Join">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group w-auto">
                            <h3><strong class="text-to-dark">@StringLocalizer["Join with code"]</strong></h3>
                            <div class="d-flex justify-content-center">
                                <input asp-for="Code" class="form-control mt-3 w-auto" style="text-align:center; justify-self:center" />
                            </div>
                            <span asp-validation-for="Code" class="text-danger "></span>
                        </div>
                        @if (ViewBag.Message != null)
                        {
                            <p style="color: red;">@StringLocalizer[ViewBag.Message]</p>
                        }
                        <div class="form-group mt-3">
                            <input type="submit" style="border-radius: 10px; background-color: #00639A; border-color: #00639A;" value=@StringLocalizer["Join"] class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @{
        <script src="/js/site.js" asp-append-version="true"></script>
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
