@model SCManagement.Services.PlansService.Models.MealPlanSession

@{
    string guid = Guid.NewGuid().ToString();
}

<div id="@guid">
    <hr class="mt-3" />
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.MealPlanId)
    <div class="d-flex" style="justify-content:space-evenly; align-items:center;">
        <div class="form-floating col-md-3">
            <input asp-for="MealName" class="form-control" />
            <label asp-for="MealName" class="control-label"></label>
            <span asp-validation-for="MealName" class="text-danger"></span>
        </div>
        <div class="form-floating col-md-3">
            <input asp-for="MealDescription" class="form-control" />
            <label asp-for="MealDescription" class="control-label"></label>
            <span asp-validation-for="MealDescription" class="text-danger"></span>
        </div>
        <div class="form-floating col-md-3">
            <input type="time" asp-for="Time" class="form-control" />
            <label asp-for="Time" class="control-label"></label>
            <span asp-validation-for="Time" class="text-danger"></span>
        </div>
        <div>
            <button onClick='removeElement("@guid")' class="btn btn-primary" style="color:white; border-radius: 10px; background-color: red; border-color: red;">Remove</button>
        </div>

    </div>
</div>

<script>
    function removeElement(id) {
        let elem = document.getElementById(id);
        return elem.parentNode.removeChild(elem);
    }
</script>