@model SCManagement.Services.PlansService.Models.TrainingPlanSession

<div class="row">
    <hr/>
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.TrainingPlanId)
    <div class="form-group col-md-3">
        <input asp-for="ExerciseName" class="form-control" />
        <span asp-validation-for="ExerciseName" class="text-danger"></span>
    </div>
    <div class="form-group col-md-3">
        <input asp-for="ExerciseDescription" class="form-control" />
        <span asp-validation-for="ExerciseDescription" class="text-danger"></span>
    </div>
    <div class="form-group col-md-3">
        <input asp-for="Repetitions" class="form-control" />
        <span asp-validation-for="Repetitions" class="text-danger"></span>
    </div>
    <div class="form-group col-md-3">
        <input asp-for="Duration" class="form-control" />
        <span asp-validation-for="Duration" class="text-danger"></span>
    </div>
</div>


