@model SCManagement.Controllers.MyClubController.CreateCodeModel
@inject IStringLocalizer<SharedResource> StringLocalizer

<hr class="text-to-dark"/>
<div class="row">
    <div class="col-md-12">
        <form asp-action="CreateCode">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input required asp-for="ExpireDate" class="form-control" min="@DateTime.Now.ToString("yyyy-MM-dd")" max="@DateTime.Now.AddYears(1).ToString("yyyy-MM-dd")" />
                <label asp-for="ExpireDate" class="control-labeaccept-policy"></label>
                <span asp-validation-for="ExpireDate" class="text-danger"></span>
            </div>
            <div class="form-floating mt-3">
                <select required asp-for="RoleId" class="form-control" asp-items="ViewBag.Roles"></select>
                <label asp-for="RoleId" class="control-label"></label>
            </div>
            <div class="form-group">
                <input type="submit" value=@StringLocalizer["Create"] style="border-radius: 10px; background-color: #00639A; border-color: #00639A;" class="btn btn-primary mt-3" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
