@model SCManagement.Controllers.MyClubController.TeamModel
@inject IStringLocalizer<SharedResource> StringLocalizer
@{
    ViewData["Title"] = "CreateTeam";
}

<style>
    @@media only screen and (max-width:768px){
        .w-25{
            width:100% !important;
        }
    }

    select {
        background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
        background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
        background-size: 5px 5px, 5px 5px, 1px 1.5em;
        background-repeat: no-repeat;
    }

    select:focus {
        background-image: linear-gradient(45deg, #00639A 50%, transparent 50%), linear-gradient(135deg, transparent 50%, #00639A 50%), linear-gradient(to right, #ccc, #ccc);
        background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, calc(100% - 2.5em) 0.5em;
        background-size: 5px 5px, 5px 5px, 1px 1.5em;
        background-repeat: no-repeat;
        border-color: #00639A;
        outline: 0;
    }

    .savebtn {
        border-radius: 10px;
        background-color: #00639A;
        border-color: #00639A;
    }
</style>

<section class="text-center">
    <!-- Background image -->
    <div class="p-5 bg-image" style="
            background-image: url('/img/baseball_stadium.jpg');
            background-position:center;
            height: 300px;
            "></div>
    <div class="container">
        <div class="card mx-4 mx-md-5 shadow-5-strong associate-show" style="
            margin-top: -100px;
            background: hsla(0, 0%, 85%, 0.3);
            background-position:center;
            backdrop-filter: blur(30px);
            border-radius:20px;
            ">
            <div class="card-body py-5 px-md-5">
               <div class="position-absolute top-0 start-0 ps-2 pt-2">
                    <a class="nav-link fw-bold text-black fs-4 fw-bold" asp-controller="MyClub" asp-action="TeamList">@StringLocalizer["Back"]</a>
                </div>
                <div class="row d-flex mt-5 justify-content-center">
                    <form asp-action="CreateTeam">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group w-auto">
                            <h3><strong>Create Team</strong></h3>
                            <div class="d-flex justify-content-center" id="name">
                                <div class="form-floating mt-3 w-25">
                                    <input asp-for="Name" class="form-control w-100" />
                                    <label asp-for="Name" class="control-label"></label>
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                            @if (ViewBag.IsManager)
                            {
                                <div class="form-floating mt-3">
                                    <div class="d-flex justify-content-center">
                                        <select asp-for="TrainerId" data-placeholder="Choose Trainers" class="form-control w-25" asp-items="ViewBag.ClubTrainers"></select>
                                    </div>
                                </div>
                            }
                            @if (ViewBag.TrainerId != null)
                            {
                                <input hidden asp-for="TrainerId" value=@ViewBag.TrainerId />
                            }
                            <div class="form-floating mt-3">
                                <div class="d-flex justify-content-center">
                                    <select asp-for="ModalityId" data-placeholder=@StringLocalizer["Choose modalities"] class="form-control w-25" asp-items="ViewBag.Modalities"></select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <input type="submit" value="Create" class="btn btn-primary savebtn" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
}
