@model SCManagement.Controllers.MyClubController.EditModel

@{
    ViewData["Title"] = "Edit";
    string ShowRemoveButton() => (Model.PhotoUri != null && Model.PhotoUri.Contains("uploads")) ? "" : "d-none";
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>


<div class="container-fluid row justify-content-evenly">
    <div id="card1" class="col-md-3 col-8 card-to-dark card mt-5">
        <div class="card-body pt-5 p-3 d-flex align-content-center justify-content-center" style="max-height: 500px;">
            <div style="text-align:center;">
                <img id="profilePicture"
                     src="@Model.PhotoUri"
                     class="rounded-circle row"
                     style="max-width:100%; max-height:300px; object-fit:cover; aspect-ratio:1;" />
                <div class="row d-flex mt-5">
                    <i id="btnRemoveImage"
                       type="button"
                       style="color:red"
                       class="@ShowRemoveButton() align-self-end fa-solid fa-trash fa-2xl mb-3 col"
                       onclick="removePhoto()">
                    </i>
                    <i class="fa-solid fa-2xl fa-pen-to-square ms-4 col" onclick="document.getElementById('selectedFile').click()" style="cursor:pointer;"></i>
                </div>
            </div>
        </div>
    </div>

    <div id="card2" class="col-8  card-to-dark card mt-5">
        <div class="card-body justify-content-between align-content-between ">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <form asp-action="Edit" enctype="multipart/form-data">
                <input type="hidden" asp-for="Id" />
                <div class="row form-floating" style="margin-bottom:20px;">
                    <input asp-for="Name" class="form-control" />
                    <label asp-for="Name" class="control-label"></label>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <hr style="margin-bottom:20px;" />
                <div class="row form-floating" style="margin-bottom:20px;">
                    <input asp-for="About" class="form-control" />
                    <label asp-for="About" class="control-label"></label>
                    <span asp-validation-for="About" class="text-danger"></span>
                </div>
                <hr style="margin-bottom:20px;" />
                <div class="form-group w-100" style="margin-bottom:20px;">
                    <label asp-for="ModalitiesIds" class="control-label"></label>
                    <select required multiple asp-for="ModalitiesIds" class="form-control" asp-items="ViewBag.Modalities"></select>
                    <span asp-validation-for="ModalitiesIds" class="text-danger"></span>
                </div>
                <hr style="margin-bottom:20px;" />
                <div class="row form-floating" style="margin-bottom:20px;">
                    <input asp-for="Email" class="form-control" />
                    <label asp-for="Email" class="control-label"></label>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <hr style="margin-bottom:20px;" />
                <div class="row form-floating" style="margin-bottom:20px;">
                    <input asp-for="PhoneNumber" class="form-control" />
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <hr style="margin-bottom:20px;" />
                <div class="row form-floating">
                    <input type="submit" value="Save" class="btn btn-primary mt-2 w-100" style="border-radius: 10px; background-color: #00639A; border-color: #00639A;" />
                </div>
                <div>
                    <input id="selectedFile" asp-for="File" type="file" class="form-control d-none" accept="image/png, image/jpeg" onchange="handleUpload(this)" />
                    <input id="removeImage" asp-for="RemoveImage" type="hidden" />
                </div>
            </form>
        </div>


    </div>

</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.3.0/color-thief.umd.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script type="text/javascript">

    function removePhoto() {
        document.getElementById("profilePicture").src = "https://cdn.scmanagement.me/public/user_placeholder.png"
        document.getElementById("removeImage").value = true
        document.getElementById("selectedFile").value = ""
        document.getElementById("btnRemoveImage").classList.add("d-none")
    }
    function handleUpload(event) {
        document.getElementById('profilePicture').src = window.URL.createObjectURL(event.files[0])
        document.getElementById("btnRemoveImage").classList.remove("d-none")
    }
</script>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }