@model SCManagement.Controllers.MyClubController.EditModel

@{
    ViewData["Title"] = "Edit";
    string ShowRemoveButton() => (Model.PhotoUri != null && Model.PhotoUri.Contains("uploads")) ? "" : "d-none";
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>


<div>
    <form asp-action="Edit" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="container-fluid m-0 pb-5 pt-5 justify-content-center d-flex">
            <div class="row">
                <div class="col-3 d-flex justify-content-center ms-5">
                    <img id="profilePicture"
                         src="@Model.PhotoUri"
                         class="rounded-circle"
                         width="150px"
                         height="150px"
                         onclick="document.getElementById('selectedFile').click()"
                         style="cursor:pointer; object-fit: cover" />
                    <div class="d-flex">
                        <i id="btnRemoveImage"
                                type="button"
                                style="color:red"
                                class="@ShowRemoveButton() align-self-end fa-solid fa-trash fa-2xl mb-3"
                                onclick="removePhoto()">
                        </i>   
                    </div>
                    
                </div>
            </div>
        </div>

        <div>
            <input id="selectedFile" asp-for="File" type="file" class="form-control d-none" accept="image/png, image/jpeg" onchange="handleUpload(this)" />
            <input id="removeImage" asp-for="RemoveImage" type="hidden" />
        </div>

        <div class="container d-flex" style="margin-top:-30px;">
            <div class="card col me-5 shadow" style="border-radius:20px;">
                <div class="card-body" style="border-radius:20px;">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="About" class="control-label"></label>
                        <input asp-for="About" class="form-control" />
                        <span asp-validation-for="About" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ModalitiesIds" class="control-label"></label>
                        <select required multiple asp-for="ModalitiesIds" class="form-control" asp-items="ViewBag.Modalities"></select>
                        <span asp-validation-for="ModalitiesIds" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneNumber" class="control-label"></label>
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary mt-2" style="border-radius: 10px; background-color: #00639A; border-color: #00639A;" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.3.0/color-thief.umd.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script type="text/javascript">
    
    function removePhoto() {
        document.getElementById("profilePicture").src = "https://cdn.scmanagement.me/public/user_placeholder.png"
        document.getElementById("removeImage").value = true
        document.getElementById("selectedFile").value = ""
        document.getElementById("btnRemoveImage").classList.add("d-none")
    }
    function handleUpload(event) {
        document.getElementById('profilePicture').src = window.URL.createObjectURL(event.files[0])
        document.getElementById("btnRemoveImage").classList.remove("d-none")
    }
</script>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}