@inject IStringLocalizer<SharedResource> StringLocalizer
@model Club;

@{
    ViewData["Title"] = "MissingPayment";
}

<div class="text-center" style="margin-top:15%;">
    <h1 class="display-4 mb-5 text-to-dark">@StringLocalizer["Welcomeclub"] @Model.Name</h1>
</div>

<div>
    <h2>Atualmente o teu clube está @Model.Status. Caso sejas o administrador de clube e se trate de falta de pagamento, visita a tua página de pagamentos e regulariza o mesmo.</h2>
</div>