@{
    ViewData["Title"] = "New Address";
}

<link href="https://api.mapbox.com/mapbox-gl-js/v2.12.0/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.12.0/mapbox-gl.js"></script>
<!-- Load the `mapbox-gl-geocoder` plugin. -->
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css">

<style>
    .mapboxgl-canvas-container {
        height: 100vh;
    }

    #map {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
    }

     #menu {
        position: absolute;
        background: #efefef;
        padding: 10px;
        font-family: 'Open Sans', sans-serif;
        right:0;
    }
</style>

<div class="card card-to-dark col-12 m-4 mt-4 me-4" style="min-height:600px;">
    <div class="card-body">
        <div id='map'></div>
        <div id="menu">
            <input id="satellite-streets-v12" type="radio" name="rtoggle" value="satellite">
            <label for="satellite-streets-v12">satellite streets</label>
            <input id="light-v11" type="radio" name="rtoggle" value="light">
            <label for="light-v11">light</label>
            <input id="dark-v11" type="radio" name="rtoggle" value="dark">
            <label for="dark-v11">dark</label>
            <input id="streets-v12" type="radio" name="rtoggle" value="streets" checked="checked">
            <label for="streets-v12">streets</label>
        </div>
        <script src="~/js/SearchMapBox.js" asp-append-version="true"></script>
    </div>
</div>

<input type="button" id="btnSave" value="Salvar" class="btn btn-primary mt-2 w-100" style="border-radius: 10px; background-color: #00639A; border-color: #00639A;" />