@model SCManagement.Models.ClubPaymentSettings
@inject IStringLocalizer<SharedResource> StringLocalizer
@inject IHtmlLocalizer<SharedResource> HtmlLocalizer

@{
    ViewData["Title"] = "PaymentSettings";
}

<h1>ClubPaymentSettings</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <div id="callback"></div>

        <form asp-action="PaymentSettings">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ClubPaymentSettingsId" />
            <div class="form-group">
                <label asp-for="AccountId" class="control-label"></label>
                <input asp-for="AccountId" class="form-control" />
                <span asp-validation-for="AccountId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountKey" class="control-label"></label>
                <input asp-for="AccountKey" class="form-control" />
                <span asp-validation-for="AccountKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequestSecret" class="control-label"></label>
                <input readonly asp-for="RequestSecret" class="form-control" />
                <span asp-validation-for="RequestSecret" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuotaFrequency" class="control-label"></label>
                <select asp-for="QuotaFrequency" class="form-control" asp-items="ViewBag.Frequency"></select>
                <span asp-validation-for="QuotaFrequency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuotaFee" class="control-label"></label>
                <input type="number" step="0.01" asp-for="QuotaFee" class="form-control" />
                <span asp-validation-for="QuotaFee" class="text-danger"></span>
            </div>

            <div>
                @HtmlLocalizer["Disclaimer_ClubePayments"]
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
        @if (!string.IsNullOrEmpty(ViewBag.Error))
        {
            <div style="color:red;">@StringLocalizer[ViewBag.Error]</div>
        }
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    window.onload = () => {
        document.getElementById("callback").textContent = `@HtmlLocalizer["CallbackUrl"]: https://${window.location.host}/api/Payment/WebhookGeneric`
    }
</script>

