@model SCManagement.Services.PlansService.Models.Goal

@{
    ViewData["Title"] = "EditGoal";
}

<div class="container ps-5 pe-5">
    <h1 style="margin-top:130px !important;" class="text-to-dark">Edit Goal</h1>
    <hr />
    <div class="card mt-5 shadow" style="border-radius:20px;">
        <div class="card-body">
            <div class="row">
                <form asp-action="EditGoal">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="TrainerId" />
                    <input type="hidden" asp-for="AthleteId" />

                    <div class="form-floating mt-3">
                        <input asp-for="Name" class="form-control" />
                        <label asp-for="Name" class="control-label"></label>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-floating mt-3">
                        <input asp-for="Description" class="form-control" />
                        <label asp-for="Description" class="control-label"></label>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-floating mt-3">
                        <input asp-for="StartDate" min="@Model.StartDate.Date.ToString("yyyy-MM-dd")" max="@DateTime.Now.AddYears(100).ToString("yyyy-MM-dd")" class="form-control" />
                        <label asp-for="StartDate" class="control-label"></label>
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                    <div class="form-floating mt-3">
                        <input asp-for="EndDate" min="@Model.EndDate.Date.ToString("yyyy-MM-dd")" max="@DateTime.Now.AddYears(100).ToString("yyyy-MM-dd")" class="form-control" />
                        <label asp-for="EndDate" class="control-label"></label>
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                    <div class="d-flex" style="float:right;">
                        <div class="form-group mt-3">
                            <input type="submit" value="Save" class="btn btn-primary" style="color:white; border-radius: 10px; background-color: #00639A; border-color: #00639A;" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


