@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Register";
}


<section class="text-center">
    <!-- Background image -->
    <div class="p-5 bg-image" style="
            background-image: url('/img/baseball_stadium.jpg');
            background-position:center;
            height: 300px;
            "></div>
    <!-- Background image -->
    <div class="container">
        <div class="card mx-4 mx-md-5 shadow-5-strong" style="
            margin-top: -100px;
            background: hsla(0, 0%, 85%, 0.3);
            background-position:center;
            backdrop-filter: blur(30px);
            border-radius:20px;
            ">
            <div class="card-body py-5 px-md-5">
                <h1>@ViewData["Title"]</h1>
                <h2 id="external-login-title">Associate your @Model.ProviderDisplayName account.</h2>
                <hr />

                <p id="external-login-description" class="text-info">
                    You've successfully authenticated with <strong>@Model.ProviderDisplayName</strong>.
                    Please enter an email address for this site below and click the Register button to finish
                    logging in.
                </p>

                <div class="row d-flex justify-content-center">
                    <div class="col-md-4">
                        <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-floating">
                                <input asp-for="Input.FirstName" type="hidden" />
                                <input asp-for="Input.LastName" type="hidden" />
                                <input asp-for="Input.Email" class="form-control" autocomplete="email" />
                                <label asp-for="Input.Email" class="form-label"></label>
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <button type="submit" class="w-100 btn btn-lg btn-primary mt-3">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
