@page
@using SCManagement
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

@inject IStringLocalizer<SharedResource> StringLocalizer

<!-- Section: Design Block -->
<section class="text-center">
    <!-- Background image -->
    <div class="p-5 bg-image" style="
        background-image: url('/img/baseball_stadium.jpg');
        background-position:center;
        height: 300px;
        "></div>
    <!-- Background image -->
    <div class="container">
        <div class="card mx-4 mx-md-5 shadow-5-strong" style="
        margin-top: -100px;
        background: hsla(0, 0%, 85%, 0.3);
        backdrop-filter: blur(30px);
        border-radius:20px;
        ">
            <div class="card-body py-5 px-md-5">
                <!-- Back to Master Page -->
                <div class="position-absolute top-0 start-0 ps-2 pt-2">
                    <a class="nav-link fw-bold text-black fs-4 fw-bold" asp-page="/Account/Login">@StringLocalizer["Back"]</a>
                </div>
                <div class="row d-flex mt-5 justify-content-center">
                    <div class="col-lg-6 col-12">
                        <h2 class="fw-bold mt-3 mb-4">@ViewData["Title"]</h2>
                        <h2></h2>
                        <form id="account" method="post">
                            <!-- 2 column grid layout with text inputs for the first and last names -->
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div> <!-- Validations -->
                            <!-- 2 column grid layout with text inputs for the first and last names -->
                            <div class="row">
                                <!-- Email input -->
                                <div class="form-outline mt-3">
                                    <label asp-for="Input.Email" class="form-label">Enter your email.</label>
                                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                            </div>
                            <button type="submit" class="w-100 btn-lg btn btn-primary mt-5">Reset Password</button>
                           
                        </form>
                    </div>
                </div>
            </div>


          

        </div>
    </div>
</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
