@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<section class="text-center text-lg-start">
    <style>
        .cascading-right {
            margin-right: -50px;
        }

    </style>

    <div class="container py-4">
        <div class="row g-0 align-items-center">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="card cascading-right" style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
            ">
                    <div class="card-body p-5 shadow-5 text-center">
                        <h2 class="fw-bold mb-5">Sign up now</h2>
                        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                            <!-- 2 column grid layout with text inputs for the first and last names -->
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div> <!-- Validações -->
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <input asp-for="Input.FirstName" type="text" id="form3Example1" class="form-control" />
                                        <label asp-for="Input.FirstName" class="form-label" for="form3Example1">First name</label>
                                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <input asp-for="Input.LastName" type="text" id="form3Example2" class="form-control" />
                                        <label asp-for="Input.LastName" class="form-label" for="form3Example2">Last name</label>
                                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <!-- Email input -->
                            <div class="form-outline mb-4">
                                <input asp-for="Input.Email" type="email" id="form3Example3" class="form-control" />
                                <label asp-for="Input.Email" class="form-label" for="form3Example3">Email address</label>
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>

                            <!-- Password input -->
                            <div class="form-outline mb-4">
                                <input asp-for="Input.Password" type="password" id="form3Example4" class="form-control" />
                                <label asp-for="Input.Password" class="form-label" for="form3Example4">Password</label>
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            
                            <!-- Confirm Password input -->
                            <div class="form-outline mb-4">
                                <input asp-for="Input.ConfirmPassword" type="password" id="form3Example4" class="form-control" />
                                <label asp-for="Input.ConfirmPassword" class="form-label" for="form3Example4">Confirm Password</label>
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>

                            
                            <!-- Checkbox -->
                            <div class="form-check d-flex justify-content-center mb-4">
                                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                                <label class="form-check-label" for="form2Example33">
                                    Subscribe to our newsletter
                                </label>
                            </div>

                            <!-- Submit button -->
                            <button id="registerSubmit" type="submit" class="btn btn-primary btn-block mb-4">
                                Sign up
                            </button>

                            <!-- Register buttons -->
                            <div class="text-center">
                                <p>or sign up with:</p>
                                <button type="button" class="btn btn-link btn-floating mx-1">
                                    <i class="fab fa-facebook-f"></i>
                                </button>

                                <button type="button" class="btn btn-link btn-floating mx-1">
                                    <i class="fab fa-google"></i>
                                </button>

                                <button type="button" class="btn btn-link btn-floating mx-1">
                                    <i class="fab fa-twitter"></i>
                                </button>

                                <button type="button" class="btn btn-link btn-floating mx-1">
                                    <i class="fab fa-github"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mb-5 mb-lg-0">
                <img src="https://mdbootstrap.com/img/new/ecommerce/vertical/004.jpg" class="w-100 rounded-4 shadow-4"
                     alt="" />
            </div>
        </div>
    </div>

</section>




@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
