@page
@using SCManagement
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}


@inject IStringLocalizer<SharedResource> StringLocalizer

<!-- Section: Design Block -->
<section class="text-center">
    <!-- Background image -->
    <div class="p-5 bg-image" style="
        background-image: url('/img/baseball_stadium.jpg');
        background-position:center;
        height: 300px;
        "></div>
    <!-- Background image -->
    <div class="container">
        <div class="card mx-4 mx-md-5 shadow-5-strong" style="
        margin-top: -100px;
        background: hsla(0, 0%, 85%, 0.3);
        backdrop-filter: blur(30px);
        border-radius:20px;
        ">
            <div class="card-body py-5 px-md-5">
                <!-- Back to Master Page -->
                <div class="position-absolute top-0 start-0 ps-2 pt-2">
                    <a class="nav-link fw-bold text-black fs-4 fw-bold" asp-page="/Account/Login">@StringLocalizer["Back"]</a>
                </div>
                <div class="row d-flex mt-5 justify-content-center">
                    <div class="col-lg-6 col-12">
                        <h2 class="fw-bold mt-3 mb-4">@ViewData["Title"]</h2>
                        <h2></h2>
                        <form id="account" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input asp-for="Input.Code" type="hidden" />
                            <input asp-for="Input.Email" type="hidden" />
                            
                            <div class="form-floating ">
                                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                                <label asp-for="Input.Password" class="form-label"></label>
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>

                            <div class="form-floating mt-3">
                                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                            <button type="submit" class="w-100 btn-lg btn btn-primary mt-5">Reset Password</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
