@page
@using SCManagement
@model ChangePasswordModel
@inject IStringLocalizer<SharedResource> _stringLocalizer;
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}
@inject IStringLocalizer<SharedResource> StringLocalizer

<section class="text-center">
    <!-- Background image -->
    <div class="p-5 bg-image" style="
        background-image: url('/img/baseball_stadium.jpg');
        background-position:center;
        height: 300px;
        "></div>
    <!-- Background image -->
    <div class="container">
        <div class="card mx-4 mx-md-5 shadow-5-strong" style="
        margin-top: -100px;
        background: hsla(0, 0%, 85%, 0.3);
        backdrop-filter: blur(30px);
        border-radius:20px;
        ">
            <div class="card-body py-5 px-md-5">
                <!-- Back to Master Page -->
                <div class="position-absolute top-0 start-0 ps-2 pt-2">
                    <a class="nav-link fw-bold text-black fs-4 fw-bold" asp-area="Identity" asp-page="/Account/Manage/Index">@StringLocalizer["Back"]</a>
                </div>
                <div class="row d-flex mt-5 justify-content-center">
                    <div class="col-lg-6 col-12 d-flex justify-content-center w-100">
                        <partial name="_StatusMessage" for="StatusMessage" />
                            <div class="col-md-6 ">
                                <form id="change-password-form" method="post">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-floating mt-3">
                                        <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" />
                                        <label asp-for="Input.OldPassword" class="form-label"></label>
                                        <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                                    </div>
                                <div class="form-floating mt-3">
                                        <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                                        <label asp-for="Input.NewPassword" class="form-label"></label>
                                        <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                                    </div>
                                <div class="form-floating mt-3">
                                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                                        <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                    </div>
                                <button type="submit" class="btn btn-lg btn-primary mt-3" style="border-radius: 10px;
                                                                                                        padding: 5px 25px 5px 25px;
                                                                                                        background-color: #00639A;
                                                                                                        border-color: #00639A;">
                                    @_stringLocalizer["Update password"]
                                </button>
                                </form>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
