@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
}

<div class=" row ms-5 mb-0 d-flex" style="margin-top:70px;">
    <h1 class=" col text-to-dark">User Profile</h1>
</div>

<div class="container-fluid row justify-content-evenly">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div id="card1" class="col-md-3 col-8 card-to-dark card">
        <div class="card-body p-5  align-content-center justify-content-center" style="max-height: 500px;">
            <div style="text-align:center;">
                <img id="profilePicture"
                     src="@Model.ProfilePictureUrl"
                     class="rounded-circle col"
                     style="width:100%; max-height:300px; object-fit:cover; aspect-ratio:1;" />
                <div class="col">
                    <i class="fa-solid fa-xl fa-trash row" style="color:red; cursor:pointer; margin-right:20px; margin-top:10%;" onclick="removePhoto()"></i>
                    <i class="fa-solid fa-xl fa-pen-to-square row" onclick="document.getElementById('selectedFile').click()" style="cursor:pointer;"></i>
                </div>
                
            </div>
            <h3 class="text-to-dark text-center" style="margin-top:50px;">@Model.Input.FirstName @Model.Input.LastName</h3>
        </div>
    </div>

    <div id="card2" class="col-8 card-to-dark card mt-5">
        <div class="card-body justify-content-between align-content-between ">
            <partial name="_StatusMessage" for="StatusMessage" />
            <form id="profile-form" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col form-floating" style="margin-bottom:20px; padding:0; margin-right:3px;">
                        <input asp-for="Input.FirstName" class="form-control" />
                        <label asp-for="Input.FirstName" class="form-label"></label>
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    </div>
                    <div class="col form-floating" style="margin-bottom:20px; padding:0;">
                        <input asp-for="Input.LastName" class="form-control" />
                        <label asp-for="Input.LastName" class="form-label"></label>
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    </div>
                </div>
                <hr style="margin-bottom:20px;" />
                <div class="row form-floating" style="margin-bottom:20px;">
                    <input asp-for="Input.PhoneNumber" class="form-control" />
                    <label asp-for="Input.PhoneNumber" class="form-label"></label>
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>
                <hr style="margin-bottom:20px;" />
                <div class="row form-floating" style="margin-bottom:20px;">
                    <input asp-for="Input.DateOfBirth" class="form-control" />
                    <label asp-for="Input.DateOfBirth" class="form-label"></label>
                    <span asp-validation-for="Input.DateOfBirth" class="text-danger"></span>
                </div>
                <hr style="margin-bottom:20px;" />
                <div class="row">
                    <strong class="col text-to-dark">Password</strong>
                    <a class="col text-end text-black text-to-dark" asp-page="/Account/Manage/ChangePassword">Change Password</a>
                </div>
                <hr style="margin-bottom:20px;" />
                <div class="row">
                    <strong class="col text-to-dark">Email</strong>
                    <div class="col text-end">
                        <label class="text-to-dark" style="margin-right:20px;">@User.Identity?.Name!</label>
                        <a class="text-black text-to-dark" asp-page="/Account/Manage/Email">Change Email</a>
                    </div>
                </div>
                <button id="update-profile-button" style="border-radius: 10px;
                                                        background-color: #00639A;
                                                        border-color: #00639A;
                                                        margin-top:50px !important;"
                        type="submit" class="w-100 btn btn-lg btn-primary">
                    Save
                </button>

                <div>
                    <input id="selectedFile" asp-for="Input.File" type="file" class="form-control d-none" accept="image/png, image/jpeg"
                           onchange="handleUpload(this)" />
                    <input id="removeImage" asp-for="Input.RemoveImage" type="hidden" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">

        function removePhoto() {
            document.getElementById("profilePicture").src = "https://cdn.scmanagement.me/public/user_placeholder.png"
            document.getElementById("removeImage").value = true
            document.getElementById("selectedFile").value = ""
            document.getElementById("btnRemoveImage").classList.add("d-none")
        }
        function handleUpload(event){
            document.getElementById('profilePicture').src=window.URL.createObjectURL(event.files[0])
            document.getElementById("btnRemoveImage").classList.remove("d-none")
        }
    </script>
}