@model SCManagement.Models.ClubTranslations

<div id="@Model.Atribute.ToLower()-@Model.Language" class="row form-outline @Model.Atribute.ToLower()-lang" style="margin-bottom:20px;">
    <textarea asp-for="value" data-lang="@Model.Language"></textarea>
    @Html.HiddenFor(x => x.Id)
</div>