@inject IHtmlLocalizer<SharedResource> HtmlLocalizer
@inject IStringLocalizer<SharedResource> StringLocalizer

@{
    ViewData["Title"] = @StringLocalizer["Home Page"];
}

<div class="text-center">
    <h1 class="display-4">@StringLocalizer["Welcome"]</h1>
    <p>@HtmlLocalizer["Learn"]</p>
</div>