@inject SCManagement.Services.SharedResourceService shared
@inject IHtmlLocalizer<SharedResource> htmlLocalizer

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@shared.Get("Welcome")</h1>
    <p>@htmlLocalizer["Learn"]</p>
</div>
