@inject IStringLocalizer<SharedResource> StringLocalizer
@{
    ViewData["Title"] = "Settings";
}

<div class="container w-100">
    <h2 class="text-to-dark" style="margin-top:130px !important;">@StringLocalizer["Notifications"]</h2>
    <div class="card shadow mt-5" style="border-radius:10px;">
        <div class="card-body mt-0">
            <div class="row p-2">
                <h5 class="col text-to-dark">@StringLocalizer["General"]</h5>
                <div class="col text-end">
                    <label class="switch" style="margin-right: 20px;"   title="Activates/Deactivates all the notifications">
                        <input type="checkbox" onchange="">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <hr />
            <div class="row p-2">
                <h5 class="col text-to-dark ">@StringLocalizer["Events"] </h5>
                <div class="col text-end">
                    <label class="switch" style="margin-right: 20px;"   title="Activates/Deactivates notifications related to events">
                        <input type="checkbox" onchange="">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <hr />
            <div class="row p-2">
                <h5 class="col text-to-dark">@StringLocalizer["Payments"]</h5>
                <div class="col text-end">
                    <label class="switch" id="paym" style="margin-right: 20px;"   title="Activates/Deactivates notifications related to your payments">
                        <input type="checkbox" onchange="">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/site.js" asp-append-version="true"></script>
<script>
</script>