
/*  Events display */
.events-container {
    overflow-y: scroll;
    height: 100%;
    float: right;
    margin: 0px auto;
    font: 13px Helvetica, Arial, sans-serif;
    display: inline-block;
    padding: 0 10px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

    .events-container:after {
        clear: both;
    }

.event-card {
    padding: 20px 0;
    width: 350px;
    margin: 20px auto;
    display: block;
    background: #fff;
    border-left: 10px solid #52A0FD;
    border-radius: 3px;
    box-shadow: 3px 8px 16px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    -moz-box-shadow: 3px 8px 16px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    -webkit-box-shadow: 3px 8px 16px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.event-count, .event-name, .event-cancelled {
    display: inline;
    padding: 0 10px;
    font-size: 1rem;
}

.event-count {
    color: #52A0FD;
    text-align: right;
}

.event-name {
    padding-right: 0;
    text-align: left;
}

.event-cancelled {
    color: #FF1744;
    text-align: right;
}

/*  Calendar wrapper */
.calendar-container {
    float: left;
    position: relative;
    margin: 0px auto;
    height: 100%;
    width:55%;
    background: #fff;
    font: 13px Helvetica, Arial, san-serif;
    display: inline-block;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

    .calendar-container:after {
        clear: both;
    }

.calendar {
    display: table;
}

/* Calendar Header */
.year-header {
    background: #52A0FD;
    background: -moz-linear-gradient(left, #52A0FD 0%, #00C9FB 80%, #00C9FB 100%);
    background: -webkit-linear-gradient(left, #52A0FD 0%, #00C9FB 80%, #00C9FB 100%);
    background: linear-gradient(to right, #00639A 0%, #32708f 80%, #3a718c 100%);
    font-family: Helvetica;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    height: 40px;
    width:200%;
    text-align: center;
    position: relative;
    color: #fff;
    border-top-left-radius: 3px;
}

    .year-header span {
        display: inline-block;
        font-size: 20px;
        line-height: 40px;
    }

.left-button, .right-button {
    cursor: pointer;
    width: 28px;
    text-align: center;
    position: absolute;
}

.left-button {
    left: 0;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
}

.right-button {
    right: 0;
    top: 0;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;
}

.left-button:hover {
    background: #00639A;
}

.right-button:hover {
    background: #00C1FF;
}

/* Buttons */
.button {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    font-size: 1rem;
    border-radius: 25px;
    padding: 0.65rem 1.9rem;
    transition: .2s ease all;
    color: white;
    border: none;
    background: #00639A;
}

#cancel-button {
    background-color: red;
}

#add-button {
    display: block;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

    #add-button:hover, #ok-button:hover, #cancel-button:hover {
        transform: scale(1.03);
    }

    #add-button:active, #ok-button:active, #cancel-button:active {
        transform: translateY(3px) scale(.97);
    }

/* Days/months tables */
.days-table, .dates-table, .months-table {
    border-collapse: separate;
    text-align: center;
    width:200%;
}

.day {
    line-height: 26px;
    height: 26px;
    width: 26px;
    padding: 14px;
    border: 2px solid transparent;
    text-transform: uppercase;
    text-align: center;
    font-size: 90%;
    color: #9e9e9e;
}

.month {
    cursor: default;
    height: 26px;
    width: 26px;
    padding: 0 2px;
    padding-top: 10px;
    line-height: 26px;
    text-transform: uppercase;
    font-size: 11px;
    color: #9e9e9e;
    transition: all 250ms;
}

.active-month {
    font-weight: bold;
    font-size: 14px;
    color: #00639A;
}

.month:hover {
    color: #00639A;
}

/*  Dates table */
.table-date {
    cursor: default;
    color: #2b2b2b;
    height: 26px;
    width: 26px;
    font-size: 15px;
    padding: 14px;
    line-height: 26px;
    text-align: center;
    border-radius: 50%;
    border: 2px solid transparent;
    transition: all 250ms;
}

    .table-date:not(.nil):hover {
        border-color: #00639A;
    }

.event-date {
    border-color: #00639A;
}

.active-date {
    background: #00639A;
    color: #fff;
}

.event-date.active-date {
    background: #00639A;
    box-shadow: 0 2px 8px RGBA(130, 180, 255, .9);
}

/* input dialog */
.dialog {
    z-index: 5;
    background: #fff;
    position: absolute;
    width: 415px;
    height: 450px;
    left: 850px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    display: none;
    border-left: 1px #00639A solid;
}

.dialog-header {
    margin: 20px;
    color: #00639A;
    text-align: center;
}

.form-container {
    margin-top: 25%;
}

.form-label {
    color: #00639A;
}

.input {
    border: none;
    background: none;
    border-bottom: 1px #aaa solid;
    display: block;
    margin-bottom: 50px;
    width: 200px;
    height: 20px;
    text-align: center;
    transition: border-color 250ms;
}

    .input:focus {
        outline: none;
        border-color: #00C9FB;
    }

.error-input {
    border-color: #FF1744;
}

/* Tablets and smaller */
@media only screen and (max-width: 780px) {
    .content {
        overflow: visible;
        position: relative;
        max-width: 100%;
        width: 370px;
        height: 100%;
        background: #52A0FD;
        background: -moz-linear-gradient(left, #52A0FD 0%, #00C9FB 80%, #00C9FB 100%);
        background: -webkit-linear-gradient(left, #52A0FD 0%, #00C9FB 80%, #00C9FB 100%);
        background: linear-gradient(to right, #52A0FD 0%, #00C9FB 80%, #00C9FB 100%);
    }

    .dialog {
        width: 370px;
        height: 450px;
        border-radius: 3px;
        top: 0;
        left: 0;
    }

    .events-container {
        float: none;
        overflow: visible;
        margin: 0 auto;
        padding: 0;
        display: block;
        left: 0;
        border-radius: 3px;
    }

    .calendar-container {
        float: none;
        padding: 0;
        margin: 0 auto;
        margin-right: 0;
        display: block;
        left: 0;
        border-radius: 3px;
        box-shadow: 3px 8px 16px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        -moz-box-shadow: 3px 8px 16px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        -webkit-box-shadow: 3px 8px 16px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
}

/* Small phone screens */
@media only screen and (max-width: 400px) {
    .content, .events-container, .year-header, .calendar-container {
        width: 320px;
    }

    .dialog {
        width: 320px;
    }

    .months-table {
        display: block;
        margin: 0 auto;
        width: 320px;
    }

    .event-card {
        width: 300px;
    }

    .day {
        padding: 0 7px;
    }

    .month {
        display: inline-block;
        padding: 10px 10px;
        font-size: .8rem;
    }

    .table-date {
        width: 20px;
        height: 20px;
        line-height: 20px;
    }

    .event-name, .event-count, .event-cancelled {
        font-size: .8rem;
    }

    .add-button {
        bottom: 10px;
        right: 10px;
        padding: 0.5rem 1.5rem;
    }
}
