@model SCManagement.Services.PaymentService.Models.UpgradePlan

<div>
    <form asp-action="UpgradeClubPlan">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="SubscriptionId" hidden />

        <div class="flex-row">
            @foreach (var plan in Model.Plans)
            {
                <div>
                    <input type="radio" asp-for="PlanId" id="plan-@plan.Id" value="@plan.Id" disabled="@(plan.Enabled)" />
                    <label class="card-cc" for="plan-@plan.Id">@plan.Name - @plan.Value€</label>
                </div>
            }
            <span asp-validation-for="PlanId" class="text-danger"></span>
        </div>

        <div class="form-group mt-3">
            <input type="submit" value="Upgrade" class="btn btn-primary" style="border-radius: 10px; background-color: #00639A; border-color: #00639A;" />
        </div>
    </form>
</div>