@model SCManagement.Models.Event

@{
    Layout = null;
}
<script src="https://api.tiles.mapbox.com/mapbox-gl-js/v2.12.0/mapbox-gl.js"></script>
<link href="https://api.tiles.mapbox.com/mapbox-gl-js/v2.12.0/mapbox-gl.css"
      rel="stylesheet" />
<!-- Import Mapbox GL Draw -->
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.4.0/mapbox-gl-draw.js"></script>
<link rel="stylesheet"
      href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.4.0/mapbox-gl-draw.css"
      type="text/css" />

<style>

    body {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
    }

    #map {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
    }

    .info-box {
        position: absolute;
        margin: 20px;
        width: 25%;
        top: 0;
        bottom: 20px;
        padding: 20px;
        background-color: #fff;
        overflow-y: scroll;
    }

    #menu {
        position: absolute;
        background: #efefef;
        padding: 10px;
        font-family: 'Open Sans', sans-serif;
    }

    #save {
        position: absolute;
        background: #efefef;
        padding: 10px;
        font-family: 'Open Sans', sans-serif;
        right: 10%;
        top: 10%;
    }
</style>


<input type="hidden" id="ev" value="@Model" />

<div id='map'></div>
<div id="menu">
    <input id="satellite-streets-v12" type="radio" name="rtoggle" value="satellite">
    <label for="satellite-streets-v12">satellite streets</label>
    <input id="light-v11" type="radio" name="rtoggle" value="light">
    <label for="light-v11">light</label>
    <input id="dark-v11" type="radio" name="rtoggle" value="dark">
    <label for="dark-v11">dark</label>
    <input id="streets-v12" type="radio" name="rtoggle" value="streets" checked="checked">
    <label for="streets-v12">streets</label>
    <input id="outdoors-v12" type="radio" name="rtoggle" value="outdoors">
    <label for="outdoors-v12">outdoors</label>
</div>
<div id="save">
    <button id="save-button">Save</button>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="~/js/PathMapBox.js" asp-append-version="true"></script>
