@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject IStringLocalizer<SharedResource> StringLocalizer

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
@if (SignInManager.IsSignedIn(User)){
    
}else{
    <div class="row align-items-center mt-xl-5">
        <p class="col-md-4 col-lg-6 text-to-dark" style="text-align:center"> @StringLocalizer["NotDone"]</p>
        <img src="~/img/under-construction-png_667893.png" class="col-md-4 col-lg-6" alt="NotDone" />
    </div>
}