<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SCManagement</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SCManagement.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-md navbar-light bg-white box-shadow mb-3 shadow" id="navBar">
            <div class="container-fluid">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <svg class="navbar-brand" width="158" height="66" viewBox="0 0 158 66" fill="none" xmlns="http://www.w3.org/2000/svg" asp-area="" asp-page="/Index">
                        <path d="M40.5449 24.8256L54.7241 23.939C54.7241 21.2355 56.4965 16.8459 56.4965 16.8459C56.4965 16.8459 58.7483 16.8459 60.9276 16.8459C62.7 13.2994 65.3586 6.2064 67.131 6.2064C67.131 6.2064 68.0172 2.65988 69.7896 2.65988C72.1216 2.65988 84.8551 10.6395 84.8551 10.6395L75.1068 24.8256C75.1068 24.8256 79.9077 22.3119 84.8551 21.2791C86.6168 20.9113 84.6473 17.1062 86.6275 16.8459C88.337 16.6213 90.1723 15.9593 91.0585 15.9593C91.9447 15.9593 92.8596 4.21264 94.6033 6.2064C100.806 13.2994 113.572 21.528 116.758 24.8256L106.124 9.75291L103.465 13.2994L95.4895 1.77326L85.7413 7.97965L75.993 0.886628L73.3344 2.65988L68.9034 0L65.3586 5.31977L60.9276 3.54651L50.2931 17.7326L47.3023 17.1784L40.5449 24.8256Z" fill="#00639A" />
                        <path id="logoText" d="M7.80576 58.384C4.82775 58.384 2.4375 55.9741 2.4375 53.0589V48.8221H6.23839V53.0589C6.23839 53.914 6.9437 54.6137 7.80576 54.6137C8.66782 54.6137 9.33395 53.914 9.33395 53.0589V49.3663L2.4375 39.9211V35.1013C2.4375 32.1472 4.82775 29.7373 7.80576 29.7373C10.7446 29.7373 13.1349 32.1472 13.1349 35.1013V39.2992H9.33395V35.1013C9.33395 34.2073 8.66782 33.5465 7.80576 33.5465C6.9437 33.5465 6.23839 34.2073 6.23839 35.1013V38.6384L13.1349 48.0836V53.0589C13.1349 55.9741 10.7446 58.384 7.80576 58.384ZM20.3448 58.073C17.4451 58.073 15.0941 55.7409 15.0941 52.8645V35.6066C15.0941 32.7302 17.4451 30.3981 20.3448 30.3981C23.2444 30.3981 25.5955 32.7302 25.5955 35.6066V37.1613H21.873V35.6066C21.873 34.7903 21.1677 34.0907 20.3448 34.0907C19.5219 34.0907 18.8166 34.7903 18.8166 35.6066V52.8645C18.8166 53.6808 19.5219 54.3804 20.3448 54.3804C21.1677 54.3804 21.873 53.6808 21.873 52.8645V50.3769H25.5955V52.8645C25.5955 55.7409 23.2444 58.073 20.3448 58.073ZM38.9182 30.3203H45.462V58.073H41.7786V36.1119L38.2912 58.1508H36.8414L36.4887 58.073L36.1753 58.1508H34.7254L31.2772 36.1119V58.073H27.5547V30.3203H34.1377L36.5279 46.0235L38.9182 30.3203ZM57.1389 51.1154V58.1119H53.5339V57.9953C53.1813 58.073 52.8286 58.1119 52.4368 58.1119C49.6939 58.1119 47.4996 55.9352 47.4996 53.2144V49.0553C47.4996 47.967 47.9306 46.9564 48.7143 46.179C49.4588 45.4405 50.4776 45.0129 51.5747 45.0129H53.4556V40.8151C53.4556 40.232 52.9462 39.7267 52.3584 39.7267H52.1625C51.5355 39.7267 51.0653 40.232 51.0653 40.8151V43.7691H47.4212V40.8151C47.4212 38.2108 49.5371 36.1119 52.1625 36.1119H52.3584C54.9838 36.1119 57.0997 38.2108 57.0997 40.8151L57.1389 51.1154ZM52.4368 54.4971C53.0245 54.4971 53.5339 54.0306 53.5339 53.4476L53.4948 48.6667L51.5747 48.6278C51.418 48.6278 51.3396 48.7055 51.2612 48.7444C51.2221 48.8221 51.1437 48.8999 51.1437 49.0553V53.2144C51.1437 53.914 51.7315 54.4971 52.4368 54.4971ZM63.8002 36.1507C66.3864 36.1507 68.5024 38.2497 68.5024 40.8151V58.3062H64.7407V40.8151C64.7407 40.3098 64.3096 39.8822 63.8002 39.8822C63.2909 39.8822 62.8598 40.3098 62.8598 40.8151V58.3062H59.0981V35.4511H62.8598V36.2673C63.1733 36.1896 63.4868 36.1507 63.8002 36.1507ZM80.1793 51.1154V58.1119H76.5744V57.9953C76.2217 58.073 75.869 58.1119 75.4772 58.1119C72.7343 58.1119 70.54 55.9352 70.54 53.2144V49.0553C70.54 47.967 70.971 46.9564 71.7547 46.179C72.4992 45.4405 73.518 45.0129 74.6151 45.0129H76.496V40.8151C76.496 40.232 75.9866 39.7267 75.3988 39.7267H75.2029C74.5759 39.7267 74.1057 40.232 74.1057 40.8151V43.7691H70.4616V40.8151C70.4616 38.2108 72.5775 36.1119 75.2029 36.1119H75.3988C78.0242 36.1119 80.1401 38.2108 80.1401 40.8151L80.1793 51.1154ZM75.4772 54.4971C76.0649 54.4971 76.5744 54.0306 76.5744 53.4476L76.5352 48.6667L74.6151 48.6278C74.4584 48.6278 74.38 48.7055 74.3017 48.7444C74.2625 48.8221 74.1841 48.8999 74.1841 49.0553V53.2144C74.1841 53.914 74.7719 54.4971 75.4772 54.4971ZM92.2089 60.9494C92.2089 63.5147 90.1321 65.5748 87.5852 65.5748H86.4096C83.8235 65.5748 81.7467 63.5147 81.7467 60.9494H85.4692C85.4692 61.4547 85.861 61.8822 86.4096 61.8822H87.5852C88.0946 61.8822 88.4864 61.4547 88.4864 60.9494V57.9953C88.1337 58.073 87.7811 58.1508 87.3892 58.1508H86.5664C83.9018 58.1508 81.7467 55.9741 81.7467 53.331L81.8251 40.8539C81.8251 38.2108 83.9802 36.073 86.6447 36.073H86.7231L87.4284 36.1119C90.0538 36.1119 92.2089 38.2497 92.2089 40.8928V60.9494ZM87.3892 54.4582C88.0162 54.4582 88.4864 53.9529 88.4864 53.331V40.8928C88.4864 40.2709 87.977 39.8045 87.3892 39.8045H87.3109L86.6055 39.7656C86.0178 39.7656 85.5476 40.2709 85.5476 40.8539L85.4692 53.3698C85.4692 53.9529 85.9786 54.4582 86.5664 54.4582H87.3892ZM99.2621 58.073C96.4408 58.073 94.1681 55.7797 94.1681 52.9812V40.8539C94.1681 38.2886 96.2841 36.1896 98.8703 36.1896H99.6931C102.279 36.1896 104.395 38.2886 104.395 40.8539V45.9458L97.8123 46.0624V52.9812C97.8123 53.7974 98.4392 54.4582 99.2621 54.4582C100.085 54.4582 100.751 53.7974 100.751 52.9812V50.5713H104.395V52.9812C104.395 55.7797 102.083 58.073 99.2621 58.073ZM99.6931 39.7656H98.8703C98.2825 39.7656 97.8123 40.2709 97.8123 40.8539V42.4864L100.751 42.4087V40.8539C100.751 40.2709 100.28 39.7656 99.6931 39.7656ZM116.503 36.1507C119.05 36.1507 121.127 38.2108 121.127 40.7373V58.0342H117.443V40.7373C117.443 40.232 117.012 39.8433 116.503 39.8433C115.993 39.8433 115.602 40.232 115.602 40.7373V58.0342H111.879V40.7373C111.879 40.232 111.487 39.8433 110.978 39.8433C110.468 39.8433 110.037 40.232 110.037 40.7373V58.2285H106.354V35.4122H110.037V36.2673C110.351 36.1896 110.664 36.1507 110.978 36.1507C111.997 36.1507 112.976 36.5006 113.76 37.0836C114.504 36.5006 115.484 36.1507 116.503 36.1507ZM128.18 58.073C125.358 58.073 123.086 55.7797 123.086 52.9812V40.8539C123.086 38.2886 125.202 36.1896 127.788 36.1896H128.611C131.197 36.1896 133.313 38.2886 133.313 40.8539V45.9458L126.73 46.0624V52.9812C126.73 53.7974 127.357 54.4582 128.18 54.4582C129.003 54.4582 129.669 53.7974 129.669 52.9812V50.5713H133.313V52.9812C133.313 55.7797 131.001 58.073 128.18 58.073ZM128.611 39.7656H127.788C127.2 39.7656 126.73 40.2709 126.73 40.8539V42.4864L129.669 42.4087V40.8539C129.669 40.2709 129.199 39.7656 128.611 39.7656ZM139.974 36.1507C142.56 36.1507 144.676 38.2497 144.676 40.8151V58.3062H140.915V40.8151C140.915 40.3098 140.484 39.8822 139.974 39.8822C139.465 39.8822 139.034 40.3098 139.034 40.8151V58.3062H135.272V35.4511H139.034V36.2673C139.347 36.1896 139.661 36.1507 139.974 36.1507ZM154.864 39.8822H152.2V52.2815C152.2 53.4476 153.179 54.3804 154.355 54.3804V58.1119C151.103 58.1119 148.477 55.5077 148.477 52.2815V39.8822H145.813V36.1507H148.477V30.3203H152.2V36.1507H154.864V39.8822Z" fill="black" />
                    </svg>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" style="text-align:center;">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" asp-controller="Home" asp-area="" asp-action="Index">Home</a>
                        <a class="nav-item nav-link" asp-controller="Home" asp-area="" asp-action="Privacy">Clubs</a>
                        <a class="nav-item nav-link" asp-controller="Home" asp-area="" asp-action="Privacy">About</a>
                        <hr />

                        <div class="dropdown d-block d-md-none nav-item">
                            <a class="nav-link" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                                Settings
                            </a>
                            <ul class="dropdown-menu dropdown-menu-full" role="menu" id="Dropdown">
                                <li style="padding: 5px;">
                                    <i style="margin-left:15px; margin-right:5px;" class="fa-solid fa-moon fa-lg text-to-dark"></i>
                                    <label class="text-to-dark">DarkMode</label>
                                    <label class="switch" style="margin-left: 10px;">
                                        <input type="checkbox" onchange="myFunction()" id="darkToggle1">
                                        <span class="slider round"></span>
                                    </label>
                                </li>
                                <li class="dropdown-item" style="padding: 5px;">
                                    <i style="margin-left:15px; margin-right:5px;" class="fa-solid fa-earth-americas text-to-dark"></i>
                                    <label class="text-to-dark">Language</label>
                                </li>
                            </ul>
                        </div>

                        <hr />
                    </div>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
        
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - SCManagement - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/8b1729a957.js" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
