@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<ul class="navbar-nav navbar-right">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <a type="button" class="btn btn-primary register ms-2" id="navbarSupportedContent1" asp-area="Identity" asp-page="/Account/Register">Register</a>
    
    <a type="button" class="btn btn-primary signin ms-2 ms-md-3 mt-2 mt-md-0" id="navbarSupportedContent1" asp-area="Identity" asp-page="/Account/Login">Sign In</a>
    <li>
            <div class="dropdown d-none d-md-block">
            <button class="btn fa-solid fa-user fa-2xl shadow-none text-to-dark mt-3" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"></button>
            <ul class="dropdown-menu" style="margin-top: 26px; left: -100px; width: 220px;" id="Dropdown1">
                <li style="padding: 5px;">
                    <i style="margin-left:15px; margin-right:5px;" class="fa-solid fa-moon fa-lg  text-to-dark"></i>
                    <label class="text-to-dark">DarkMode</label>
                    <label class="switch" style="margin-left: 10px;">
                            <input type="checkbox" onchange="myFunction()" id="darkToggle">
                        <span class="slider round"></span>
                    </label>
                </li>
                <li class="dropdown-item" style="padding: 5px;">
                    <i style="margin-left:15px; margin-right:5px;" class="fa-solid fa-earth-americas text-to-dark"></i>
                    <label class="text-to-dark">Language</label>
                </li>
            </ul>
        </div>
    </li>
    
}
</ul>