@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<ul class="navbar-nav navbar-right">
    @if (SignInManager.IsSignedIn(User))
    {
        <li>
            <div class="d-none d-md-block mt-3">
                @await Component.InvokeAsync("CulturePicker")
            </div>
        </li>
        <li>
            <div class="dropdown d-none d-md-block">
                <button class="btn fa-2xl shadow-none text-to-dark" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="@UserManager.GetUserAsync(User).Result.ProfilePicture?.Uri" class="rounded-circle" style="width: 45px; height: 45px;" />
                </button>
                
                <ul class="dropdown-menu" style="margin-top: 26px; left: -100px; width: 220px;" id="Dropdown1">
                    <li class="dropdown-item" style="padding: 5px;">
                        <a class="nav-link text-to-dark" style="color:black;" asp-area="Identity" asp-page="/Account/Manage/Index">@User.Identity?.Name!</a>
                    </li>
                    <li class="dropdown-item" style="padding: 5px;">
                        <a class="nav-link text-to-dark" style="color:black;" href="#">Conta corrente</a>
                    </li>
                    <li class="dropdown-item" style="padding: 5px;">
                        <a class="nav-link text-to-dark" style="color:black;" asp-controller="Home" asp-action="Settings">Settings</a>
                    </li>
                    <li style="padding: 5px;">
                        <i style="margin-left:15px; margin-right:5px;" class="fa-solid fa-moon fa-lg  text-to-dark"></i>
                        <label class="text-to-dark">DarkMode</label>
                        <label class="switch" style="margin-left: 10px;">
                            <input type="checkbox" onchange="myFunction()" id="darkToggle">
                            <span class="slider round"></span>
                        </label>
                    </li>
                    <li class="dropdown-item" style="padding: 5px;">
                        <i style="margin-left:15px; margin-right:5px;" class="fa-solid fa-earth-americas text-to-dark"></i>
                        <label class="text-to-dark">Language</label>
                    </li>
                    <li class="dropdown-item" style="padding: 5px;">
                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button type="submit" style="color:black;" class="nav-link btn btn-link text-to-dark">Logout</button>
                        </form>
                    </li>
                </ul>
                </div>
        </li>
        <li>
            <div class="dropdown d-block d-md-none nav-item">
                <a class="nav-link text-to-dark" style="color:black;" asp-area="Identity" asp-page="/Account/Manage/Index">@User.Identity?.Name!</a>
                <a class="nav-link text-to-dark" style="color:black;" href="#">Conta corrente</a>
                <a class="nav-link text-to-dark" style="color:black;" href="#">Settings</a>
                <a class="nav-link text-to-dark" style="color:black;" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">More</a>
                <ul class="dropdown-menu dropdown-menu-full" role="menu" id="Dropdown">
                    <li style="padding: 5px;">
                        <i style="margin-left:15px; margin-right:5px;" class="fa-solid fa-moon fa-lg text-to-dark"></i>
                        <label class="text-to-dark">DarkMode</label>
                        <label class="switch" style="margin-left: 10px;">
                            <input type="checkbox" onchange="myFunction()" id="darkToggle1">
                            <span class="slider round"></span>
                        </label>
                    </li>
                    <li class="dropdown-item" style="padding: 5px;">
                        <i style="margin-left:15px; margin-right:5px;" class="fa-solid fa-earth-americas text-to-dark"></i>
                        <label class="text-to-dark">Language</label>
                    </li>
                </ul>
            </div>
        </li>
    }
    else
    {
        <li>
            <div class="d-none d-md-block">
                @await Component.InvokeAsync("CulturePicker")
            </div>
        </li>
        <li>
            <a type="button" class="btn btn-primary register" id="navbarSupportedContent1" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li>
            <a type="button" class="btn btn-primary signin ms-2 ms-md-3 mt-2 mt-md-0" id="navbarSupportedContent1" asp-area="Identity" asp-page="/Account/Login">Sign In</a>
        </li>
        <li>
            <div class="dropdown d-none d-md-block">
                <button class="btn fa-solid fa-user fa-2xl shadow-none text-to-dark mt-3" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"></button>
                <ul class="dropdown-menu" style="margin-top: 26px; left: -100px; width: 220px;" id="Dropdown1">
                    <li style="padding: 5px;">
                        <i style="margin-left:15px; margin-right:5px;" class="fa-solid fa-moon fa-lg  text-to-dark"></i>
                        <label class="text-to-dark">DarkMode</label>
                        <label class="switch" style="margin-left: 10px;">
                            <input type="checkbox" onchange="myFunction()" id="darkToggle">
                            <span class="slider round"></span>
                        </label>
                    </li>
                    <li class="dropdown-item" style="padding: 5px;">
                        <i style="margin-left:15px; margin-right:5px;" class="fa-solid fa-earth-americas text-to-dark"></i>
                        <label class="text-to-dark">Language</label>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <div class="dropdown d-block d-md-none nav-item">
                <a class="nav-link text-to-dark" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                    More
                </a>
                <ul class="dropdown-menu dropdown-menu-full" role="menu" id="Dropdown">
                    <li style="padding: 5px;">
                        <i style="margin-left:15px; margin-right:5px;" class="fa-solid fa-moon fa-lg text-to-dark"></i>
                        <label class="text-to-dark">DarkMode</label>
                        <label class="switch" style="margin-left: 10px;">
                            <input type="checkbox" onchange="myFunction()" id="darkToggle1">
                            <span class="slider round"></span>
                        </label>
                    </li>
                    <li class="dropdown-item" style="padding: 5px;">
                        <i style="margin-left:15px; margin-right:5px;" class="fa-solid fa-earth-americas text-to-dark"></i>
                        <label class="text-to-dark">Language</label>
                    </li>
                </ul>
            </div>
        </li>
    }
</ul>