@inject IStringLocalizer<SharedResource> StringLocalizer

<hr />
<div class="main-footer">
    <div class="container">
        <div class="row">

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="widget subscribe no-box">
                    <h5 class="widget-title text-to-dark">@StringLocalizer["About Us"]<span></span></h5>
                    <p class="text-to-dark">@StringLocalizer["About Us Content"]</p>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="widget no-box">
                    <h5 class="widget-title text-to-dark">@StringLocalizer["Contacts"]<span></span></h5>
                    <div class="text-to-dark col-6">info@scmanagement.me
                        <i class="fa-solid fa-envelope"></i>
                    </div>
                    
                   
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="widget no-box">
                    <h5 class="widget-title text-to-dark">@StringLocalizer["Creators"]<span></span></h5>
                    <ul>
                        <li class="text-to-dark">André Matias</li>
                        <li class="text-to-dark">David Belchior</li>
                        <li class="text-to-dark">Dinis Pimpão</li>
                        <li class="text-to-dark">Guilherme Oliveira</li>
                        <li class="text-to-dark">Pedro Peralta</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

    
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mt-3 text-center">
                    <p class="text-to-dark">Copyright: SC Management.@StringLocalizer["rights"]</p>
                </div>
            </div>
        </div>
    </div>
</div>