@inject IStringLocalizer<SharedResource> StringLocalizer

<hr class="text-to-dark" />
<div class="main-footer">
    <div class="p-4">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-4">
                <h5 class="widget-title text-to-dark">@StringLocalizer["About Us"]</h5>
                <p class="text-to-dark text-wrap" style=" line-height: 1.6">@StringLocalizer["About Us Content"]</p>

            </div>

            <div class="col-xs-12 col-sm-12 col-md-4">
                <div>
                    <h5 class="text-to-dark">@StringLocalizer["Contacts"]<span></span></h5>
                    <div class="text-to-dark col-6">
                        <a href="mailto:info@scmanagement.me">info@scmanagement.me</a>
                        <i class="fa-solid fa-envelope"></i>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-4">
                <div>
                    <h5 class="text-to-dark">@StringLocalizer["Creators"]<span></span></h5>
                    <ul>
                        <li class="text-to-dark">André Matias</li>
                        <li class="text-to-dark">David Belchior</li>
                        <li class="text-to-dark">Dinis Pimpão</li>
                        <li class="text-to-dark">Guilherme Oliveira</li>
                        <li class="text-to-dark">Pedro Peralta</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>


    <div class="footer-copyright">
        <div class="align-content-center">
            <div class="row">
                <div class="col-md-12 mt-3 text-center">
                    <p class="text-to-dark">Copyright: SC Management.@StringLocalizer["rights"]</p>
                </div>
            </div>
        </div>
    </div>
</div>
