@inject IStringLocalizer<SharedResource> StringLocalizer

<div class="main-footer" style="background-color:#515151;">
    <div class="p-4">
        <div class="d-md-flex justify-content-between">

            <div class="col-xs-12 col-sm-12 col-md-4">
                <h5 class="widget-title text-to-dark">
                    <a asp-controller="Home" style="text-decoration:none; color:white" asp-action="About">@StringLocalizer["About Us"]</a>
                    <span class="text-white fa-fade" style="--fa-fade-opacity: 0.2; letter-spacing:-5px;"> &#60;&#60;</span>
                    <span class="text-white fa-fade" style="--fa-fade-opacity: 0.2;">click!!</span>
                </h5>
                <span class="text-white text-wrap">@StringLocalizer["About Us Content"]</span>

            </div>

            <div class="col-xs-12 col-sm-12 col-md-3 mt-3 mt-md-0">
                <div>
                    <h5 class="text-white">@StringLocalizer["Contacts"]<span></span></h5>
                    <div class="text-white col-6">
                        <a href="mailto:info@scmanagement.me" class="text-white">info@scmanagement.me</a>
                        <i class="fa-solid fa-envelope ms-5"></i>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-4 mt-3 mt-md-0">
                <h5 class="text-white">@StringLocalizer["Creators"]<span></span></h5>
                <ul style="list-style:none">
                    <li class="text-white">André Matias</li>
                    <li class="text-white">David Belchior</li>
                    <li class="text-white">Dinis Pimpão</li>
                    <li class="text-white">Guilherme Oliveira</li>
                    <li class="text-white">Pedro Peralta</li>
                </ul>
            </div>

        </div>
    </div>


    <div class="footer-copyright" style="background-color:#2C2C2C;">
        <div class="align-content-center">
            <div class="col-md-12 text-center">
                <p class="text-white text-wrap p-2">Copyright: SC Management.@StringLocalizer["rights"]</p>
            </div>
        </div>
    </div>
</div>
