@model SCManagement.Models.Modality
@inject IStringLocalizer<SharedResource> StringLocalizer

@{
    ViewData["Title"] = "CreateModality";
}

<div class="container">
    <h1 style="margin-top:130px !important;" class="text-to-dark">@StringLocalizer["CreateModality"]</h1>
    <hr />
    <div class="card mt-5 shadow" style="min-height:fit-content !important; border-radius:20px;">
        <div class="card-body">
            <form asp-action="CreateModality">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @if (ViewBag.Error != null)
                {
                    <div style="color: red">@(ViewBag.Error)</div>
                }
                @Html.EditorFor(x => x.ModalityTranslations)
                <div class="form-group">
                    <input type="submit" value="@StringLocalizer["Create"]" class="btn btn-primary float-end" style="color: white;
                                                                                                            background-color: #00639A;
                                                                                                            border-radius: 10px;
                                                                                                            border-color: #00639A;"/>
                </div>
            </form>
        </div>
    </div>
</div>


