@model SCManagement.Controllers.BackofficeController.CustomPlanModel
@inject IStringLocalizer<SharedResource> StringLocalizer


@{
    ViewData["Title"] = "Create Plan";
}
<div class="container">
    <div class="d-flex align-items-center" style="margin-top:130px !important;">
        <h1 class="text-to-dark">@StringLocalizer["CreatePlan"]</h1>
    </div>
    <hr />
    <div class="card mt-5 shadow" style="min-height:fit-content !important; border-radius:20px;">
        <div class="card-body">
            <form asp-action="CreatePlan">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <input asp-for="Name" class="form-control" />
                    <label asp-for="Name" class="control-label"></label>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="d-flex mt-3 justify-content-between">
                    <div class="form-floating col-4">
                        <input asp-for="Value" type="number" min="0" step="0.1" class="form-control" />
                        <label asp-for="Value" class="control-label"></label>
                        <span asp-validation-for="Value" class="text-danger"></span>
                    </div>
                    <div class="form-floating col-3">
                        <select asp-for="Frequency" class="form-control" asp-items="ViewBag.Frequency"></select>
                        <label asp-for="Frequency" class="control-label"></label>
                        <span asp-validation-for="Frequency" class="text-danger"></span>
                    </div>
                    <div class="form-floating col-4">
                        <input asp-for="AthleteSlots" type="number" min="0" step="1" class="form-control" />
                        <label asp-for="AthleteSlots" class="control-label"></label>
                        <span asp-validation-for="AthleteSlots" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group form-check mt-3">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Enabled" /> @Html.DisplayNameFor(model => model.Enabled)
                    </label>
                </div>
                <div class="d-flex justify-content-end mt-3">
                    <div class="form-group">
                        <input type="submit" value="@StringLocalizer["Create"]" class="btn btn-primary" style="color:white; border-radius: 10px; background-color: #00639A; border-color: #00639A;" />
                    </div>
                    <div>
                        <a asp-action="ManagePlans" class="btn btn-primary ms-2" style="color:white; border-radius: 10px; background-color: red; border-color: red;">@StringLocalizer["Cancel"]</a>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>


